
  
  /* body {
    
    overflow-x: hidden;
  } */
  /* what should you have */
.title{
    margin: 50px;
    text-align: center;
    color:  #9B9B9B;
    font-weight: normal;
    font-size: 60px;
    margin-bottom: 80px;
   }
   .containerb{
       padding-top: 50px;
   }
  
  .row{
      width: 85%;
      margin: auto;
  }
  /* Float four columns side by side */
  .column {
    float: left;

    text-align: center;
    padding: 10px;
    margin: auto;
  }
  
  
  
  /* Style the  cards */
  .card {
    
    
    text-align: center;
   
    width: 400px;
    height: 500px;
  }
  .cardtitle{
      color:  #27AD6C;
      font-size: 25px; 
      font-weight: bold;
      margin-top: 20x;
       
  }
  .pic{
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 40px;
  }
  .cardinfo{
      padding-top: 20px;
      width: 325px;
      margin: auto;
      font-size: 15 px;
      font-weight: lighter;
      color: #4A4A4A;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 768px) {
    
    .column {
    
    float: none;
    width: 350px;

    
    }
    .containerb{
      margin: auto;
      text-align: center;
    }
    .row{
      margin: auto;
      
  }
  
  }