
.bg-colour{
    background-color: #423633;
    margin-top: -35px;
    margin-bottom: -17px;
    

}
.f-header{
    color: white;
    text-align: center;
    padding-top: 120px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 48px;
    
}
.b-btn{
  width: 100%;
  
}
.f-grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-top: -15px;
    
    
    
  }
  .f-grid-item {
    
    
    font-size: 30px;
    padding: 50px;
    
  }
  .i-grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    
    
    
  }
  .i-grid-item {
    color: white;
    
    font-size: 15px;
    
    font-weight: 700;
    font-style: normal;
    font-family: roboto;
    
  }
  .i-grid-item p1 {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    
    font-style: normal;
  }
  .f-box{
      width: 85%;
      margin: auto;
  }
  .f-icon{
    width: 90%;
    
  }
  .f-button{
    
    
    font-size: 14px;
    /* width: 13%; */
    font-weight: lighter;
    background: #27AD6C;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100px;
    
    border-radius: 10px;
    margin: auto;
    
}
.f-buttontext{
    color: white;
    
}
.but-container{
  margin: 100px;
}
.f-button:hover{
  background: whitesmoke;
  color:#423633 ;
  transition:ease-in-out;
  transition-duration: .5s;
  
}
.l-ninja-container{
  text-align: center;
  padding-bottom:100px ;
}
  @media all and (max-width: 768px){
    .f-grid-container {
      display: grid;
      grid-template-columns: 100%;
      margin-top: -15px;
      
      
      
    }
  }