

.txt-area{
        color:#9B9B9B;
        text-align: center;
        padding: 30px;
        margin-top: -400px;
        
        
        
}
.txt-h{
    font-size: 60px;
    font-family:  Roboto ;
    margin: auto;
    padding: 20px;
}
.txt-p{
    font-size: 20px;
    font-family:  Roboto ;
    font-style: italic;
    padding: 20px;
    
}
.food-container {
  margin-top: 20px;  
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
    width: 100hw;
    align-items: stretch;

    
    padding: 0px;
  }
  .food-item {
      padding: 0;
    
   
    
  }
  .food{
    max-width: 100%
  }
  @media all and (max-width: 768px){
   .food-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        width: 100hw;
        align-items: stretch;
    
        
        padding: 0px;
      }
      .food-item {
          padding: 0;
        
       
        
      }
      .food{
        max-width: 100%
      }
      .txt-area{
        color:#9B9B9B;
        text-align: center;
        padding: 30px;
        margin-top: -100px;
        
        
        
}
  }