-img/* Container holding the image and the text */
.container {
    position: relative;
    
    
  }
  
 .hero-img{
   height: 100%;
   width: 100%;
 }
 

  /* .centered {
    position: absolute;
    top: 22%;
    
    left: 10%;
    
  } */
  .bold{
    position: absolute;
    top: 22%;
    /* left: 50%; */
    left: 16%;  
    font-size: 90px;
    color: white;
    text-align: center;
    
  }
  .small{
    position: absolute;
    top: 45%;
    left: 30%;  
    font-size: 20px;
    width: 42%;
    
    color: white;
    text-align: center;

    
}
.button{
    position: absolute;
    top: 65%;
    left: 46%;  
    font-size: 15px;
    /* width: 13%; */
    font-weight: lighter;
    background: #27AD6C;
    padding: 20px;
    color: white;
    
    border-radius: 10PX;
}
button{
  background:none;
  border: none;
}
.buttontext{
    color: white;
}
.button:hover{
    background: whitesmoke;
    color:green ;
    transition:ease-in-out;
    transition-duration: .5s;
    
}
.popup{
  font-size: 22px;
  color:  #9B9B9B;
  text-align: center;
  font-family: roboto;
  margin-top: -10px;
}
@media all and (max-width: 768px){
  container {
    position: relative;
    text-align: center;
    
  }
  
  .hero-img{
    height: 100%;
    width: 100%;
  }
 

  
  .bold{
    position: absolute;
    top: 13%;
    
    left: 13%;  
    font-size: 40px;
    
    
  }
  
  .form{
    padding: 10px;
    margin: 20px;
  }
  .small{
    position: absolute;
    top: 25%;
    left: 26%;  
    font-size: 10px;
    width: 50%;
    font-weight:350;
  
    
}
.button{
    position: absolute;
    top: 33%;
    left: 45%;  
    font-size: 10px;
    /* width: 13%; */
    font-weight: lighter;
    background: #27AD6C;
    padding: 10px;
    color: white;
    
    border-radius: 10PX;
}
.buttontext{
    color: white;
}
.button:hover{
    background: whitesmoke;
    color:green ;
    transition:ease-in-out;
    transition-duration: .5s;
    
}
}