.left {
    float: left;
    width: 45%;
    margin-right: 100px;
    
    
  }
  .right {
    float: left;
    width: 45%;
    border-left:2px solid #88C542;
    
  }
  /* Clear floats after the columns */

.section{
    
    margin: auto;
    justify-content: center;
    
}
.inforight{
    margin-left: 80px;
}
.infoleft{
    margin-left: 0px;
}
.listleft{
    margin-left: 40px;
    padding: 30px;
    list-style: none;
	background-image: url("./Images/globe.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
    border-bottom: 1px solid #27AD6C;
    
}
.listright{
    padding: 30px;
    list-style: none;
	border-bottom: 1px solid #27AD6C;
    margin-left: -25px;
    margin-right: 80px;
    
}
.listlast{
    margin-left: 10px;
    padding: 30px;
    list-style: none;
	color:#27AD6C ;
    
}
.for-color{
    color: #27AD6C;
    
}
.header-right{
    font-size: 40px;
    font-weight: normal;
    color:  #9B9B9B;
    
}
.header-left{
    font-size: 40px;
    font-weight: normal;
    color:  #9B9B9B;
    margin-left: 80px;
    
}
@media all and (max-width: 768px){
    left {
        float: left;
        width: 35%;
        margin-right: 0px;
        
        
      }
      .right {
        float: left;
        width: 35%;
        border-left:2px solid #88C542;
        
      }
      /* Clear floats after the columns */
    
    .section{
        
        margin: auto;
        justify-content: center;
        
    }
    .inforight{
        margin-left: 1px;
    }
    .infoleft{
        margin-left: 0px;
    }
    .listleft{
        margin-left: 10px;
        padding: 25px;
        list-style: none;
        background-image: url("./Images/globe.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
        border-bottom: 1px solid #27AD6C;
        
    }
    .listright{
        padding: 25px;
        list-style: none;
        border-bottom: 1px solid #27AD6C;
        margin-left: -px;
        margin-right: 20px;
        
    }
    .listlast{
        margin-left: 10px;
        padding: 15px;
        list-style: none;
        color:#27AD6C ;
        
    }
    .for-color{
        color: #27AD6C;
        
    }
    .header-right{
        font-size: 40px;
        font-weight: normal;
        color:  #9B9B9B;
        margin-left: 40px;
        
    }
    .header-left{
        font-size: 40px;
        font-weight: normal;
        color:  #9B9B9B;
        margin-left: 40px;
        
    } 
}


