
.row-nin{
    margin: auto;
    width: 55%;
    margin: 35.7%;
    text-align: center;
    
}
.column-nin {
    float: left;
    width: 5%;
    margin-top: 175px;
    margin-left: 50px;
    
  }
  .right-nin {
    float: left;
    width: 20%;
    color: #88C542;
    background: #88C542;

    height: 1px;
    margin-top: 200px;
    margin-left: 50px;
    
  } 
  .left-nin {
    float: left;
    width: 20%;
    color: #88C542;
    background: #88C542;

    height: 1px;
    margin-top: 200px;
   
    
  }
  
  /* Clear floats after the columns */
  .row-nin:after {
    content: "";
    display: table;
    clear: both;
  }
.ico{
    margin: 200px;
}
