.p-container{
    margin-top: -70px;
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(to right, transparent, #4b5320,transparent); */
    background-color: #4b5320;
}
.p-tit{
    text-align: center;
    padding-top: 15%;
    font-size: 100px;
    font-family: roboto;
    color: whitesmoke;

}
.p-des{
    text-align: center;
    margin-top: -20px;
    font-size: 50px;
    font-family: roboto;
    color: whitesmoke;
}