.body{
    overflow-x: hidden;
}
    
/* entire nav bar background */
.navbar{
    position: absolute;
    top: 10;
    width: 100%;
    background-color: rgb(41, 40, 40,0);
    height: 60px;
    justify-content: space-between;
    z-index :2;
    padding-top: 35px;
    box-shadow: none;
}
.logo{
    height: 40px;
    padding-left: 20px;
}
.arrangelogo {
    vertical-align: center; 
    /* margin-right: -20px; */
    padding: 5px;
    border-radius: 50px;
    
    opacity: .9;
    float: right;
    
}
/* search icon */
.b{
    color: rgb(133, 131, 131);
    margin-right: -10pxpx;
    /* margin-top: 25px; */
    
}
.b:hover{
    color: rgb(53, 53, 53);
}
.pannel{
    display: flex;
    /* justify-content: right; */
    /* padding: 5px;   */
    font-size: 12;
    top:0; 
    margin-top: 5.5px;     
    margin-right: 20px;
}

/* for home login etc */
nav .nav-links {
    /* margin: 20px;
    padding: 2px; */
    margin-top: 0px;
    top:0 ;
    display: flex;
    padding: 5px;
    margin-right: -80px;
     
     
     
}  
.pholder{
    border: none;
    padding-left: 0px;
    z-index: 2;
    
}
/* styling search bar */
.search {
   
    
    font-family: 'PT Snes', sans-serif;
    width: 300 px;
    height: 20px;
    z-index: 0;
    background-color: white;
    /* margin-top: -3px; */
    padding: 7px;
    border-radius: 15px;
    outline: none; 
    opacity: 1; 
    transform: translatex(1000px);
    transition:.6s ease-in-out ;     
    margin-left: -67px;
    border-color: none;
    padding-right: 10px;
    margin-top: -5px;
    
}
.search:hover {
    opacity: 1;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    border: none;
    opacity: .9; /* Firefox */
  }
  
.arrangelogo:hover{
    /* box-shadow: 0px 1px 20px black; */
    
    opacity: 1.1;
}
nav .nav-links a{
    margin: 20px;
    font-family: 'PT Sans', sans-serif;
    
}
/* hover edits */

    /* width: 32%;
    color: white; */
    /* background-color: gray; 
    border-radius: 2px 2px 2px 2px; */



/* only burger menu */
nav .burger  {      
    font-size: 25px;
    color: whitesmoke; 
    margin-top: 9px;
    display: none;

}    
/* only for colour of login etc */
.a{
    
    color: silver;
    

}
.a:hover{
    
    color: rgb(61, 60, 60);
    

}
/* for home button */
.gr {
    color: #70C919;
}
.gr:hover {
    color: rgb(6, 202, 6)
}
nav .logo
{
    margin-left: 10px;
    opacity: .9;

    
}

/* nav .nav-links li:last-of-type{
    font-size: 20px;
    
} */
nav{
    display:flex ;
    box-shadow: 0px 10px 13px rgb(34, 33, 33);
    
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}


/* for tablet view */
@media all and (max-width: 768px){
    nav .burger{
        display: block;
        margin-right: 16px;
        cursor: pointer;
    }
    nav .nav-links{
        
        position: absolute;
        display: block;
        top:75px;
        right:0;
        margin-right: 0px;
        background:rgb(255, 255, 255,.8) ;
        width: 30%;
        transform: translatex(1000px);
        transition:.6s ease-in-out ;
        
        border-radius: 5px 0px 0px 5px;
    }
    nav .nav-links li {
        border-bottom:1px groove silver ;
        padding: 25px;

    }
    nav .nav-links li:last-of-type{
        border-bottom:0px solid silver ;
        

    }
    .gr {
        color: #407907;
    }
    .hide{
    
        color: rgb(61, 60, 60);
        
    
    }
    .hide:hover{
        
        color: black;
        
    
    }
    .a{
    
        color: rgb(61, 60, 60);
        
    
    }
    .a:hover{
        
        color: black;
        
    
    }
    .arrangelogo {
        vertical-align: center; 
        background-color: transparent;
        padding: 5px;
        border-radius: 50px;
        
        opacity: .9;
        
        
    }
    /* search icon */
    .b{
        color: rgb(133, 131, 131);
        margin-right: 8px;
        /* margin-top: 25px; */
        
    }
    .b:hover{
        color: rgb(53, 53, 53);
    }
    .pholder{
        border: black 1px solid;
        border-radius: 50px;
        padding: 10px;
        width: 130px;
        margin-left: 10px;
        margin-top:-50px ;
    }
    .search{
        background-color: transparent;
        margin:20px;
        margin-left: 5px;
    }
    .hide{
        display: none;
        
    }
}
