.popup{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    text-decoration: #9B9B9B;
    border: 1px solid #4b5320;
}   
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
} 
input[type=submit] {
    background-color: #27AD6C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 4px;
    margin: 10px;
    
  }
  input[type=submit]:hover {
  background-color: #45a049;
}
  input[type=text], select, textarea {
    
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 10px;
    
  }
  input[type=email], select, textarea {
    
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 10px;
  }
    
  