
.footer-container{
    height: 70px;
    background-color: #333333;
    position: relative;
    bottom:0;
    width: 100%;
    z-index: 2;
}
.outer{
    justify-content: space-between;
    display: flex;
    width: 90%;
    margin: auto;
    
}
.inner{
    display: flex;
    
    justify-content: space-evenly;
    
    margin-top: 30px;
   
}
.cr{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    font-family: roboto;
}
.it{
    color: white;
    margin: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: roboto;
    
}
.it:hover{
    color: silver;
}
